@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,700;1,700&display=swap');

body {
	background: linear-gradient(to bottom right, #e1d5b0, #9c968e);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #333333;
}

.header-container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.nav {
	margin: 0;
	padding: 20px 0;
}

.nav a {
	display: inline;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.register-box {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 30px;
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
	animation-name: fade-in;
	animation-duration: 1s;
}
.register-box h2 {
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}
.register-box input[type='number'],
.register-box input[type='text'],
.register-box input[type='password'] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.register-box input[type='submit'] {
	background-color: #ff5f6d;
	border: none;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.register-box input[type='submit']:hover {
	background-color: #e53d59;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media only screen and (max-width: 768px) {
	.register-box {
		padding: 20px;
	}
	.register-box input[type='number'] .register-box input[type='text'],
	.register-box input[type='password'] {
		padding: 8px;
	}
	.register-box input[type='submit'] {
		padding: 8px;
	}
}
h1 {
	text-align: center;
}
